.ul {
  button {
    margin-left: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: darkgrey;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.button {
  margin-left: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #2196f3;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}